<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4">
        <p class="footer-title">Thank you</p>
        <dl>
          <dt>Support</dt>
          <dd>HTML5 / CSS3 / Bootstrap</dd>
          <dt>Power by</dt>
          <dd>Flat UI for free</dd>
        </dl>
      </div>
      <div class="col-xs-4">
        <p class="footer-title">Thank you</p>
        <dl>
          <dt>Support</dt>
          <dd>HTML5 / CSS3 / Bootstrap</dd>
          <dt>Power by</dt>
          <dd>Flat UI for free</dd>
        </dl>
      </div>
      <div class="col-xs-4">
        <p class="footer-title">Thank you</p>
        <dl>
          <dt>Support</dt>
          <dd>HTML5 / CSS3 / Bootstrap</dd>
          <dt>Power by</dt>
          <dd>Flat UI for free</dd>
        </dl>
      </div>
    </div>
  </div>
</footer>